<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paulus.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launch_icon2"
        android:label="Home Automation"
        android:supportsRtl="true">
        <service android:name="org.eclipse.paho.android.service.MqttService" ></service>
        <activity
            android:name="app.main.MainView"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.lighting.LightingView"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name="app.hobbyroom.HobbyroomView"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name="app.themes.ThemesView"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest>